---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ publishedDate | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

    </div>
    <div class="mb-8 mt-12 bg-blue-500 rounded shadow border container max-w-4xl grid grid-cols-3 gap-3">
        <div class="col-span-1">
            <div class="h-full"><img src="/static/img/about.jpg" class="object-cover h-full w-full m-0"></div>
        </div>
        <div class="col-span-2 prose lg:prose-lgx text-purple-50 p-10">
            <h2>When I need to paste something into the bio field on a form, I use this: (TODO - swap out bio photo for one you usually use)</h2>
            <p>Brian is a versatile developer with experience building complex, interactive web applications in support of large-scale localized sites. Recently he has focused his efforts on evolving Drupal front-end development practices, decoupled Drupal, and style guide development techniques and has spoken on the topic at various Drupal events. Brian is a Drupal 7 and Drupal 8 Acquia Certified Grand Master and loves all things Nintendo.</p>
        </div>
    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

</div>