---
layout: default
title: Brian Perry
path: home
eleventyExcludeFromCollections: true
---

<div class="container mx-auto max-w-4xl px-6 flex flex-col items-center">
  <h1>
    Brian Perry
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 px-1">
      Likes Computers
    </strong>
  </h1>

  <p>
    He likes other things too, but many of them involve computers.
  </p>

  <div class="mb-8 mt-12 bg-blue-500 rounded shadow border container sm:grid sm:grid-cols-3 sm:gap-2">
    <div class="col-span-1">
        {% image "./src/static/img/about.jpg", "Bro day selfie" %}
    </div>
    <div class="col-span-2 prose lg:prose-lgx text-purple-50 p-10">
        <h2>Congratulations on visting one of the internet's many websites!</h2>
        <p>This specific one is mine. I use this site to document <a href="/posts/">things I've been thinking about</a>, <a href="/til/">things I've been learning</a>, <a href="/uses">things I use</a>, and <a href="/jams/">things I really like</a>.</p>
        <p>I'm a front end developer who lives in the Chicago suburbs, I'm a member of the <a href="https://www.drupal.org/community">Drupal community</a>, I often <a href="https://noti.st/brianperry">present at tech events</a>, I have a super awesome family, and I really like Nintendo.</p>
    </div>
  </div>

  <section class="container max-w-4xl mt-6 px-6 pt-6 border-dashed border-4 border-purple-200 rounded-lg">
    <h2 class="font-bold text-3xl text-indigo-500">Latest Updates</h2>
    {% set postslist = collections.all | reverse %}

    {% for post in postslist.slice(0, 5) %}
        <article class="my-8">
            <h2 class="font-bold text-3xl text-gray-900 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                Updated
                <time>
                    {{ post.date | readableDate }}
                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>

<div class="mb-8 mt-12 p-6 bg-gradient-to-l from-blue-500 to-purple-500 rounded shadow border container max-w-4xl">
  <h3 class="text-indigo-50">Recent Projects</h3>
  {% include "./_includes/partials/projects.html" %}
  </div>
</div>

<team-section></team-section>

<script type="module" src="/components/unnecessaryConfetti.js"></script>